body{
  margin: 0;
  font-family: Arial;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.options{
  display: flex;
}

.options div{
  padding: 0 20px;
}

.options div:first-child{
  margin: auto;
}

.options div:last-child{
  border-left: 1px solid #fefefe;
}

.options p{
  margin: 0 0 10px;
}

.options input{
  padding: 10px;
  margin: 0 auto 10px;
}

h1{
  margin: 0;
}

button{
  display: block;
  margin-top: 30px;
  background: #fefefe;
  border: 0;
  padding: 15px;
  font-size: 24px;
  font-weight: 700;
  font-family: Arial;
  border-radius: 10px;
}

table {
  border-collapse: collapse;
  margin-top: 50px;
}
table, th, td {
  border: 1px solid #fff;
}
table td, table th{
  padding: 10px;
}

.clearButton{
  margin-bottom: 50px;
}